/* materialize css */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css'; */
/* RTL version of materializecss framework v1.0.0 @MahdiMajidzadeh */
/* @import 'materialize.rtl.min.css'; */
/* material icons */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/* fontawesome icons */
@import 'https://use.fontawesome.com/releases/v5.2.0/css/all.css';
/*  */
.hidden {
  display: none !important;
}
.switch {
  display: inline-block !important;
  transform: scale(1.1);
  padding-right: 25px;
}