/* #region imported css libraries */
/* materialize css */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css'; */
/* RTL version of materialize-css framework v1.0.0 @MahdiMajidzadeh */
/* @import 'materialize.rtl.min.css'; */
/* material icons */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/* font-awesome icons */
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
/* #endregion */

/* #region css colors */
:root {
  --main-bg-color: #0057e7; /* #1565c0  blue darken-3 */
  --hover-bg-color: #1976d2; /* blue darken-2 */
  --selected-bg-color: #0d47a1; /* blue darken-4 */
  --second-color: #fffc00;
  --light-bg-color: #bbdefb;
  --third-bg-color: #ff7900;
  --third-fr-color: #fff;
}
/* #endregion */
/* #region helper classes */
.hidden {
  display: none !important;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-around-top {
  display: flex;
  justify-content: space-around;
}
.flex-b-25 {
  flex-basis: 25%;
}
.flex-b-50 {
  flex-basis: 50%;
}
.flex-b-75 {
  flex-basis: 75%;
}
.flex-b-5 {
  flex-basis: 5%;
}
.flex-b-10 {
  flex-basis: 10%;
}
.flex-b-20 {
  flex-basis: 20%;
}
.flex-b-30 {
  flex-basis: 30%;
}
.flex-b-40 {
  flex-basis: 40%;
}
.flex-b-60 {
  flex-basis: 60%;
}
.pointer {
  cursor: pointer;
}
.sm {
  font-size: 2.5rem !important;
  line-height: inherit !important;
}
.md {
  font-size: 4rem !important;
  line-height: inherit !important;
}
.lg {
  font-size: 6rem !important;
  line-height: inherit !important;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.m-0 {
  margin: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
.b-0 {
  border: none !important;
}
.lh-18 {
  line-height: 1.8rem;
}
.lh-19 {
  line-height: 1.9rem;
}
.lh-20 {
  line-height: 2rem;
}
.lh-22 {
  line-height: 2.2rem;
}
.lh-24 {
  line-height: 2.4rem;
}
.lh-25 {
  line-height: 2.5rem;
}
.head-color {
  color: #0d47a1;
}
.content-title {
  font-weight: 600;
}
.content-text {
  padding: 0.5rem 2rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  text-align: justify;
}
/* #endregion */

/* #region scrollbar styles */
.scroll::-webkit-scrollbar {
  width: 4px;
}
.scroll:hover::-webkit-scrollbar {
  width: 6px;
}
.scroll::-webkit-scrollbar-track-piece {
  background-color:#6f91b6;
  border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #0e355c;
  border-radius: 5px;
}
/* #endregion */

/* #region form error messages  */
div.error i {
  margin-top: 0.4rem;
}
div.error span {
  text-indent: 0.5rem;
}
/* #endregion */

/* #region switch materialize component styles */
.switch {
  display: inline-block !important;
  transform: scale(1.1);
  padding-right: 25px;
}
/* #endregion */

/* #region HG datepicker styles */
div.hg-datepicker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  grid-template-areas:
    "g-label h-label"
    "g-input h-input";
}
div.hg-datepicker .main-label {
  grid-area: main-label;
  align-self: center;
  justify-self: center;
  font-size: 1rem;
}
div.hg-datepicker .g-label {
  grid-area: g-label;
}
div.hg-datepicker .h-label {
  grid-area: h-label;
}
div.hg-datepicker .g-input {
  grid-area: g-input;
}
div.hg-datepicker.h-input {
  grid-area: h-input;
}
div.hg-datepicker div.hijri-date-picker > input {
  margin-left: 3rem !important;
}
.rtl div.hg-datepicker div.hijri-date-picker > input {
  margin-right: 3rem !important;
}
div.hijri-calender {
  z-index: 99;
}
/* #endregion */

/* #region check-options [ radio buttons - checkboxes ] */
div.check-options {
  padding-top: 10px;
}
.rtl div.check-options > label {
  margin-left: 30px;
}
/* #endregion */

/* #region materialize autocomplete hide img */
ul.autocomplete-content li img {
  display: none;
}
/* #endregion */

/* #region adjust materialize css form styles */
.rtl .input-field .prefix ~ .validate {
  margin-left: inherit;
  margin-right: 3rem;
}
.input-field .prefix ~ .validate {
  margin-right: inherit;
  margin-left: 3rem;
}
/* #endregion */

/* #region autocompelete-select [react-select] */
.autocompelete-select > div:first-child {
  height: 38px;
}
/* #endregion */

/* #region autocompelete-select [react-select] */
.rtl td {
  text-align: right;
}
/* #endregion */
/* #region materialize dropdown */
a.dropdown-trigger,
a.sidenav-trigger {
  cursor: pointer;
}
/* #endregion */
