.container-fluid {
  padding: 0 1rem;
}
/* #region navbar */
.navbar-fixed {
  overflow: hidden;
}
/* #endregion */
/* #region hero-slider */
.slider .indicators {
  bottom: 4.5rem !important;
  z-index: 100;
}
.slider-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 50%;
  transform: translate(0, -80%);
}
i.material-icons.forward,
i.material-icons.backward {
  cursor: pointer;
  font-size: 3.5rem;
  color: #fff;
}
/* #endregion */

main {
  min-height: 70vh;
}
div.spinner-container {
  height: 70vh;
}
