.container-fluid {
  padding: 0 1rem;
}
main, .main {
  min-height: 90vh;
  margin: 0;
}
div.spinner-container {
  height: 70vh;
}
/* #region navbar */
.navbar-fixed {
  overflow: hidden;
}
header nav {
  background-color: var(--main-bg-color);
}
header .dropdown-content li > a,
header .dropdown-content li > span {
  color: var(--main-bg-color);
}
header .dropdown-content li:hover,
header .dropdown-content li.active {
  background-color: var(--main-bg-color);
}
header .dropdown-content li > a:hover,
header .dropdown-content li.active > a,
header .dropdown-content li > span.active {
  color: var(--third-fr-color);
}
/* #endregion */
/* #region hero-slider */
.slider .indicators {
  bottom: 4.5rem !important;
  z-index: 100;
}
.slider-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 50%;
  transform: translate(0, -80%);
}
i.material-icons.forward,
i.material-icons.backward {
  cursor: pointer;
  font-size: 3.5rem;
  color: #fff;
}
/* #endregion */
/* #region Home styles */
.card-header {
  padding: 1.2rem 1rem;
}
.news-section .card-content {
  height: 270px;
}
/* #endregion */
